@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --cyan: hsl(171, 66%, 44%);
    --lightblue: hsl(233, 100%, 69%);
    --darkgray: hsl(210, 10%, 33%);
    --gray: hsl(201, 11%, 66%);
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

h1, h2, h3, footer {
    color: var(--darkgray);
}

p {
    color: var(--gray);
    margin-bottom: 3rem;
}

section, .header {
    padding: 4rem 2rem;
}

img {
    max-width: 100%;
    margin: 1rem auto;
}

.header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 7rem;
}

h1 {
    font-size: 2em;
}

.download {
    box-sizing: border-box;
    background-color: red;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 1em;
    margin: 1rem auto;
    padding: 1em;
    border-radius: 3em;
    box-shadow: inset 0 -3px #00000038;
}

.ios {
    background-color: var(--cyan);
}
.mac {
    background-color: var(--lightblue);
}

h2, h3 {
    margin-bottom: 0.5em;
}

.companies {
    padding: 0;
}

.companies img {
    display: block;
    width: 35vw;
    margin: 4rem auto;
}

footer {
    background-color: #f5f6f8;
    padding: 4rem 2rem 2rem 2rem;
}

.footer img, .footer a {
    display: block;
}

.socmed a, .socmed img{
    display: inline;
}

.socmed img {
    padding: 1rem;    
}

.footer-logo {
    width: 15vw;
    margin-bottom: 3rem;
}

.footer a {
    margin: 2rem auto;
    text-decoration: none;
    color: var(--darkgray);
}